body {
    background: url(images/jennie-razumnaya-euZfWU_nbO8-unsplash.jpg);
    background-position: top;
}

header {
    background: none;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 12dvh;
    padding-left: 5%;
    color: var(--font-light);
    text-shadow: .07em .07em 0px var(--accent1), .14em .14em 0px var(--accent2);
}

.icon {
    stroke: var(--font-dark);
}

nav a {
    color: var(--font-dark);
}

@media (orientation: landscape) {
    body {
        background-size: cover;
    }
}

@media (orientation: portrait) {
    body {
        background-size: auto 100dvh;
    }
}